RewriteEngine On
RewriteCond %{QUERY_STRING} (.*)
RewriteRule ^(intro)(?:/([\w]*)|)$ index.php?mode=$1
RewriteRule ^(view|action)(?:/([\w]*)|)(?:/([\w]*)|)(?:/?(.*)|)$ index.php?%1&mode=$1&controller=$2&method=$3&$4