
	*{ margin:0; padding:0; font-family:'malgun gothic'; color:#444; }
	ul li{ list-style:none; }
	a{ color:#444; text-decoration:none; }
	table{ width:100%; border-collapse:collapse; border-spacing:0; }
	[type=button],[type=submit],[type=reset],[data-url]{ cursor:pointer; }
	
	.close_div{
		width:100%;
		text-align:right;
		position:fixed;
		background:#444;}

	.close_div p{
		padding:10px;
		color:#fff; }

	#wrap{
		padding-top:40px; }

	#wrap > header{
		background:#eee;
		border-bottom:1px solid #ccc;
		padding-bottom:10px; }

	#wrap > header > *{
		text-align:center;}
		
	#wrap > header > h1{
		color:#ba2323;
		padding:10px 0; }

	#wrap > header > p{
		font-size:20px;
		color:#444;
		font-weight:bold; }

	#wrap nav ul{
		padding:10px;
		text-align:center; }

	#wrap nav ul li{
		padding:10px 40px;
		border:1px solid #ccc;
		display:inline-block; 	}

	#wrap nav ul li a{
		font-weight:bold; }

	#wrap nav ul li.active{
		background:#ba2323;
		border:1px solid #ba2323; }
		
	#wrap nav ul li.active a{
		color:#fff; }
	
	#wrap h2{
		font-size:20px;
		padding:10px 0;
		text-align:center;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc; }
	
	#intro img{
		padding:10px; }
		
	#intro p{
		font-size:12px;
		color:#444;
		padding:10px 0; }
	
	#intro{
		text-align:center; }
		
	#intro h3{
		font-size:15px;
		color:#ba2323; }
	
	table tr td{
		font-size:12px; }

	table tr td,
	table tr th{
		padding:10px 0;
		text-align:center;
		border-bottom:1px solid #ccc; }

	#best .content div{
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}

	#history li{
		padding:5px 0;
		font-size:13px; }
		
	#history h3{
		text-align:center;
		padding:5px 0;
		border-bottom:1px solid #ccc;
		border-top:1px solid #ccc;
		background:#eee;
		color:#444; 
	}
	#social ul{
		padding:10px 0;
		text-align:right;
	}
	#social ul li{
		display:inline-block;
	}

	@media  screen and (min-width: 300px),
			screen and (max-width: 300px){
		
		#wrap nav ul li.active{
			display:none; }
		
		#wrap h2{
			border:none;
			background:#ba2323;
			color:#fff; }

		nav ul li{
			margin:5px 0;
			width:250px;}
			
		nav ul li:hover{
			border:1px solid #fff; !important;
			background:#ba2323; } 
			
		nav ul li:hover a{
			color:#fff; }
			
		#best .content div{
			width:200px;
			margin:0 auto;
		}
	}
	
	@media screen and (min-width: 480px){
		#best .content div{
			width:300px;
			margin:0 auto;
		}
	}

	@media screen and (min-width: 800px){
	}